<!doctype html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link href="./app.css" rel="stylesheet" >

    <title>O que voce come</title>
</head>

<body background="quimicos.jpg" style="background-size: cover;">
    <div id="app">
        <div class="container">
            <div class="my-5 text-center text-light">
                <h2>O QUE VOCÊ COME ?</h2>
                <p>Veja os produtos quimicos que acompanham os alimentos que você consome.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6" style="background-color:#ffffff">

                    <input class="form-control form-control-lg mb-3 mt-3 col-12" type="tel" placeholder="Código de barras"
                     v-model="inputBarCode" maxlength="13">

                    <div class="mb-3  mt-3" >
                        <select class="form-control form-control-lg col-12 mr-2" v-model="selectedFood">
                            <option value="0">Escolha o Alimento</option>
                            <template v-for="food in foods">
                                <option :value="food.id">{{food.name}}</option>
                            </template>
                        </select>
                    </div>
                    <div class="mb-3" v-if="selectedFood!=0">
                        <select class="form-control form-control-lg col-12 mr-2" v-model="selectedBrand">
                            <option value="0">Escolha a Marca</option>
                            <template v-for="brand in brands">
                                <option :value="brand.brandId">{{brand.brand}}</option>
                            </template>
                        </select>
                    </div>

                    <template v-if="chemicals.length > 0">
                        <h5 class="card-title mb-4 mt-4">Produtos Quimicos desse produto</h5>
                        <ul class="list-group list-group-flush mb-3" v-for="chemical in chemicals">
                            <li class="list-group-item">{{chemical}}</li>
                        </ul>
                    </template>

                    <button v-if="chemicals.length == 0" class="btn btn-primary btn-lg btn-block mt-5 mb-5"
                        type="button" @click="openRegister()" >Não achei o meu alimento</button>
                </div>
            </div>

        </div>
       
        <div class="modal fade" id="dialogModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{errored ? 'Aviso':'Confirmação'}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div :class="{'alert alert-success': !errored,'alert alert-danger': errored}" role="alert">
                            <h4 >{{message}}</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="gray d-flex justify-content-center" v-if="loading">
            <div class="spinner-border text-light spinner-center" role="status" >
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        

    </div>

    <script src="app.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>